*.tmp
*.bak
*.swp
*.apk
*.ap_
*.dex
*.log
*~.nib
*.class
*.gradle
*.launch
*.target
*.loadpath
*.cproject
*.metadata
*.texlipse
*.buildpath'
*.pydevproject

.classpath

R.java
local.properties
project.properties

bin/
gen/
tmp/
build/
gradle/
proguard/
externalToolBuilders/

.settings/